<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% files.forEach(file => { %>
        <img src="/uploads/<%= file %>" width="300"><br>
    <% }) %>
</body>
<form method="post" action="/"><br><br><br>
    <button type="submit">Back</button>
</form>
</html>